doctype html
html 
    head  
      title  Krushil Dance Academy
      block scripts 
      block style 
    body
      nav#navbar
            ul
            div#logo
                img(src="/static/istockphoto-677968878-612x612.jpg")
                |KDA
                li #[a(href ="/") Home]
                li #[a(href ="/") About]
                li #[a(href ="#misstionSection") Services]
                li #[a(href ="/") Class info]
                li #[a(href =" ./contact") Conact Us]
      block content
      footer#footer 
        | copyright2022 krushildanceAcadamy.com
      